.modal {
    display: none;
    position: absolute;
    width: auto;
    height: 55vh;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease;
}

.content_modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F0F1F2;
    box-shadow: 15px 10px 15px #164049;
    padding: 3%;
    border-radius: 2px;
}

.close_modal {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 10%;
}

.close_modal>p {
    color: black;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.close_modal>p:hover {
    color: red;
    transition: all 0.2s ease;
}

.cards_modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    /* margin-left: 2px; */
    cursor: pointer;
    margin: auto;
}

.card>.holdImg {
    height: 70%;
    color: black;
    border: 3px solid black;
}

.holdImg>img {
    width: 100%;
    height: 100%;
}

.card>.text_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    border: 3px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(0.5rem, 0.56rem + 1.26vw, 1.25rem);
    text-align: center;
    color: black;
}

.card_text {
    color: black;
    margin-top: 2%;
}

.link {
    box-shadow: 0px 5px 0px 0px #000000;
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid #000000;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    transition: all 0.8s ease;
}

.link:hover {
    background-color: rgb(43, 86, 226);
}

@media(max-width: 1500px) {
    .card {
        width: 30vw;
    }
}

@media(max-width: 1100px) {
    .card {
        width: 30vw;
    }
}

@media(max-width: 700px) {
    .modal {
        width: 90%;
    }
    .card {
        width: 80%;
        margin: auto;
    }
}